microservice-chart:
  namespace: "receipts"
  nameOverride: ""
  fullnameOverride: "pagopa-receipt-pdf-notifier"
  image:
    repository: ghcr.io/pagopa/pagopa-receipt-pdf-notifier
    tag: "0.14.0"
    pullPolicy: Always
  # https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/Controllers/HostController.cs
  livenessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
    replicas: 3
  serviceMonitor:
    create: true
    endpoints:
      - interval: 10s #jmx-exporter
        targetPort: 12345
        path: /metrics
  ports:
    - 8080 #http
    - 12345 #jmx-exporter
  service:
    type: ClusterIP
    ports:
      - 8080 #http
      - 12345 #jmx-exporter
  ingress:
    create: true
    host: "weuprod.receipts.internal.platform.pagopa.it"
    path: /pagopa-receipt-pdf-notifier/(.*)
    servicePort: 8080
  serviceAccount:
    name: "receipts-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "768Mi"
      cpu: "300m"
    limits:
      memory: "1024Mi"
      cpu: "500m"
  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
      - type: memory
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "80"
  fileConfig: {}
  envConfig:
    ENV: "prod"
    LOG_LEVEL: "INFO"
    LANG: "C.UTF-8"
    WEBSITE_SITE_NAME: "pagopareceiptpdfnotifier" # required to show cloud role name in application insights
    ASPNETCORE_URLS: "http://*:8080"
    FUNCTIONS_WORKER_RUNTIME: "java"
    NOTIFIER_QUEUE_TOPIC: "pagopa-p-weu-receipts-queue-receipt-io-notifier-error"
    NOTIFIER_CART_QUEUE_TOPIC: "pagopa-p-weu-receipts-queue-cart-receipt-io-notifier-error"
    COSMOS_RECEIPT_SERVICE_ENDPOINT: "https://pagopa-p-weu-receipts-ds-cosmos-account.documents.azure.com:443/"
    COSMOS_RECEIPT_DB_NAME: "db"
    COSMOS_RECEIPT_CONTAINER_NAME: "receipts"
    COSMOS_RECEIPT_MESSAGE_CONTAINER_NAME: "receipts-io-messages-evt"
    COSMOS_CART_RECEIPT_MESSAGE_CONTAINER_NAME: "cart-receipts-io-messages"
    IO_API_BASE_PATH: "https://api.io.pagopa.it/api/v1" # IO PROD
    # IO_API_BASE_PATH: "https://api.uat.platform.pagopa.it/mock-io/api/v1"
    PDV_TOKENIZER_BASE_PATH: "https://api.tokenizer.pdv.pagopa.it/tokenizer/v1"
    PDV_TOKENIZER_INITIAL_INTERVAL: "550"
    PDV_TOKENIZER_MULTIPLIER: "1.5"
    PDV_TOKENIZER_RANDOMIZATION_FACTOR: "0.6"
    PDV_TOKENIZER_MAX_RETRIES: "5"
    MAX_NUMBER_RETRY: "7"
    NOTIFIER_QUEUE_DELAY: "2"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopareceiptpdfnotifierotl,deployment.environment=prod"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_LOGS_EXPORTER: none
    OTEL_TRACES_SAMPLER: "always_on"
    PAYER_NOTIFY_DISABLED: "false"
    AZURE_FUNCTIONS_MESH_JAVA_OPTS: "-javaagent:/home/site/wwwroot/jmx_prometheus_javaagent-0.19.0.jar=12345:/home/site/wwwroot/config.yaml -Xmx768m -XX:+UseG1GC"
  externalConfigMapValues:
    message-template:
      MARKDOWN_DEBTOR: markdown-debtor
      SUBJECT_DEBTOR: subjet-debtor
      MARKDOWN_PAYER: markdown-payer
      SUBJECT_PAYER: subject-payer
  envFieldRef:
    APP_NAME: "metadata.labels['app.kubernetes.io/instance']"
    APP_VERSION: "metadata.labels['app.kubernetes.io/version']"
  envSecret:
    APPLICATIONINSIGHTS_CONNECTION_STRING: "ai-p-connection-string"
    COSMOS_RECEIPTS_CONN_STRING: "cosmos-receipt-connection-string"
    STORAGE_CONN_STRING: "receipts-storage-account-connection-string"
    # OCP_APIM_SUBSCRIPTION_KEY: "io-apim-subscription-key"
    OCP_APIM_SUBSCRIPTION_KEY: "io-apim-subscription-key-official"
    COSMOS_RECEIPT_KEY: "cosmos-receipt-pkey"
    # CF_FILTER_NOTIFIER: "receipt-notifier-cf-filter-nofilter"
    CF_FILTER_NOTIFIER: "receipt-notifier-cf-filter"
    OTEL_EXPORTER_OTLP_HEADERS: "elastic-otl-secret-token"
    PDV_TOKENIZER_SUBSCRIPTION_KEY: "tokenizer-api-key"
    IO_CONFIGURATION_ID: "IO-CONFIGURATION-ID"
  keyvault:
    name: "pagopa-p-receipts-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: pagopareceiptpdfnotifier
            namespaces: ["receipts"]
            topologyKey: topology.kubernetes.io/zone
  canaryDelivery:
    create: false
    ingress:
      create: false
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: false
    deployment:
      create: false
      image:
        repository: ghcr.io/pagopa/pagopa-receipt-pdf-notifier
        tag: "0.3.2"
        pullPolicy: Always
      envConfig:
      envSecret:
